/********* Simple Grey **********/

.form-submit-button-simple_grey {
    color: #ffffff;
    text-shadow: -1px -1px 0px #333333;
    border: 1px solid #555555;
	box-shadow:inset 0px 1px 0px 0px #b2b2b2;
	background: linear-gradient(to top, #888888 0%, #575757 100%);
}

.form-submit-button-simple_grey:hover, .form-submit-button-simple_grey:active {
	background: linear-gradient(to top, #989898 0%, #676767 100%);
}